[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
start= "jupyter notebook"

[packages]
packaging = "*"
numpy = "*"
matplotlib = "*"
scikit-learn = "*"
torch = "*"
torchdiffeq = "*"
pybasin = {file = "pybasin", editable = true}
jupyter = "*"
pandas = "*"
openpyxl = "*"

[dev-packages]

[requires]
python_version = "3.12.7"
